<div id="modal" class="hide">
    <div class="content">
        <div class="header">
        <h1>Procurando Relatos sobre a Entidade</h1>
        <a href="#">Fechar</a>

        </div>
        <form action="/search-results">
            <label for="search">Nome da Organizaçao</label>
        <div class="search field">
        <input type="text" name="search" placeholder="Pesquise o Nome da Organizaçao">
        <button>
            <img src="/assets/search.svg" alt="Buscar">
        </button>
    </div>
</form>

</div>


</div>